.component {
  width: calc(50% - 12px);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.image {
  composes: mr-4 ml-4 from global;
}

.price_line {
  composes: mt-1 mb-1 from global;
  display: flex;
  justify-content: center;
}

.price_number {
  composes: pr-2 text text_type_digits-medium from global;
}

.price_currency {
  height: 100%;
}

.name {
  composes: text text_type_main-default from global;
  text-align: center;
  min-height: 2lh;
}

.counter {
  position: absolute;
  top: 0px;
  right: 0px;
}
